.UsestateHook {
  background-color: blue;
  color: white;
}
.conditionalrendering {
  background-color: black;
  color: aliceblue;
}
.Field {
  background-color: blueviolet;
  color: azure;
}

.formusestate {
  padding: 100px;
}
.moduleCSS {
  padding: 200px;
}

/* uesref */

.image-container {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  background-color: aqua;
  cursor: pointer;
}
.imageURL {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  /* background-color: aqua; */
  cursor: pointer;
}

/* context */
.light {
  background-color: #fff;
  color: #000;
}
.black {
  background-color: #000;
  color: #fff;
}
