.UsestateHook {
  background-color: blue;
  color: white;
}
.conditionalrendering {
  background-color: black;
  color: aliceblue;
}
.Field {
  background-color: blueviolet;
  color: azure;
}

.formusestate {
  padding: 100px;
}
.moduleCSS {
  padding: 200px;
}
